<div class="text-layout">
  <h2>Number Pipes</h2>
  <p>Number, decimal and pencentage Pipes included in CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Total sales"
      subheader="over the year">
      <i class="pi pi-dollar"></i>
      {{ totalSales | number:'1.2-2' }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Total sales"
      subheader="over the year">
      {{ (totalSales + 2881283.834659) | currency:'':'symbol-narrow':'1.0-4' }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Porcentage"
      subheader="over the year">
      {{ percentage | percent:'2.2-2' }}
    </p-card>
  </div>
</div>
