<div class="text-layout">
  <h2>Custom Pipes</h2>
  <p>Pipes created by {{ "us" | case : isUpperCase }}</p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-start"></div>

  <div class="p-toolbar-group-end">
    <button pButton class="p-button-warning mr-2" (click)="toggleCase()">
      Toggle
    </button>
    <button
      pButton
      icon="pi pi-sort"
      label="By Name"
      class="mr-2"
      (click)="setSortBy('name')">
    </button>
    <button
      pButton
      icon="pi pi-sort"
      label="By Values"
      class="mr-2 p-button-success"
      (click)="setSortBy('value')">
    </button>
    <button
      pButton
      icon="pi pi-sort"
      label="By Color"
      class="mr-2 p-button-help"
      (click)="setSortBy('color')">
    </button>
  </div>
</p-toolbar>

<div class="grid mt-2">
  <div class="col">
    <p-table [value]="heroes | sorted:sortBy" [tableStyle]="{ 'min-width': '50rem' }" >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Fly</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{ hero.name }}</td>
          <td>{{ hero.canFly | canfly | titlecase }}</td>
          <td>{{ hero.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="grid mt-2">
  <div class="col">
    <p-table [value]="heroes | slice:0" >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="canfly" style="width:20%">Fly <p-sortIcon field="canfly"></p-sortIcon></th>
          <th pSortableColumn="color" style="width:20%">Color <p-sortIcon field="color"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{ hero.name }}</td>
          <td>{{ hero.canFly | canfly | titlecase }}</td>
          <td>{{ hero.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
