/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #17212f;
  font-family: var(--font-family);
}

.text-layout {
  color: rgba(255, 255, 255, 0.87);
}

.container {
  margin: auto;
  max-width: 80%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
